<div>
    <h5>&nbsp;&nbsp;Tasks Remaining :</h5>
    <div *ngIf="items">
        <ul *ngFor="let item of items">
            <li><input type="checkbox" id="check" (click)="completeItem()"></li>
            <label for="check">
            <li class="text" id="text" [ngClass]="{'todo-completed': completed}">Title : {{item.title}}</li></label>
            <li class="remove"><button class="removebutton" (click)="removetask(item.title)">Remove</button></li><br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<li class="text" id="text" [ngClass]="{'todo-completed': completed}">Description : {{item.content}}</li>
        </ul>
    </div>
    <div *ngIf="!items"><p>No Tasks</p></div>
    
</div>
